<template name="_header">

  <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{pathFor 'home'}}"><img src="images/logo.png" alt="" class="logo img-responsive "></a>
      </div>
      <div class="collapse navbar-collapse" id="main-nav">
        {{#if currentUser}}
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-user"></i> {{ currentUser.profile.name }} <i class="fa fa-caret-down"></i>
              </a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#" data-action="logout"><i class="fa fa-lock"></i> Sign Out</a></li>
              </ul>
            </li>
          </ul>
        {{else}}
          <div class="navbar-right">
            <a href="{{ pathFor 'atSignIn' }}" class="btn btn-default navbar-btn">Sign in</a>
          </div>
        {{/if}}
        {{#if currentUser}}
            <ul class="nav navbar-nav navbar-right">
              <li class="{{ isActiveRoute regex='home' }}"><a href="{{ pathFor 'home' }}"><i class="fa fa-home"></i> Home </a></li>
              <li class="{{ isActiveRoute regex='import' }}"><a href="{{ pathFor 'import' }}"><i class="fa fa-gear"></i> CSV Importer</a></li>
              <li class="{{ isActiveRoute regex='users' }}"><a href="{{ pathFor 'users' }}"><i class="fa fa-male"></i> Users</a></li>
            </ul>
        {{/if}}
      </div>
    </div>
  </nav>
</template>
