<template name="list">
    <table class="table table-responsive table-striped table-bordered table-condensed">
        <thead>
        <tr>
            <th>Status</th>
            <th>Referral</th>
            <th>Action</th>
            <th>Company Name</th>
            <th>Email</th>
        </tr>
        </thead>
        <tbody>
        {{#each listOfLeads}}
            <tr>
                <td>{{status}}</td>
                <td>{{referaltype}}</td>
                <td>{{actiontype}}</td>
                <td>{{companyname}}</td>
                <td>{{companyemail}}</td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</template>