<template name="users">
    <div class="template-home">

        <div class="page-header">
            <h1>User Accounts </h1>
        </div>
        <div class="container-fluid">
            <div class="row">

                    <h4><a class="addUser pull-right" data-toggle="modal" data-target="#createUserModal" href="#">Create Account <i class="fa fa-plus"></i></a></h4>
                    <!-- Modal -->
                    {{> createUserForm}}
            </div>
            <br /><br />
           <div class="table-condensed">
                <table class="table table-striped table-bordered table-condensed leadsTable">
                    <thead>
                    <tr class="titleth">
                        <th>User ID</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Role</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#each listusers}}
                    <tr>
                        <td>{{_id}}</td>
                        <td>{{username}}</td>
                        <td>{{userEmail}}</td>
                        <td>{{userRole}}</td>
                        <td>
                            <a href="#" data-toggle="modal" data-target="#modal-edit-profile-{{_id}}"><i class="fa fa-pencil-square-o"></i> Edit</a>&nbsp;
                            <a href="#" data-user-Delete="{{_id}}" class="userDelete"><i class="fa fa-user"></i> Delete</a>
                            <!-- Modal Edit -->
                            <div class="modal fade" id="modal-edit-profile-{{_id}}" tabindex="-1" role="dialog" aria-labelledby="editprofile">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            <h4 class="modal-title" id="myModalLabel">Edit User</h4>
                                        </div>
                                        <div class="modal-body">
                                            <form class="createForm">
                                                <input type="hidden" id="editid-{{_id}}" value="{{_id}}">
                                                <div class="form-group">
                                                    <label for="fullname">Full Name</label>
                                                    <input type="text" class="form-control" id="fullname-{{_id}}" name="fullname" placeholder="Full Name" value="{{username}}">
                                                </div>
                                                <div class="form-group">
                                                    <label for="emailAddress">Email Address</label>
                                                    <input type="text" class="form-control" id="emailaddress-{{_id}}" name="emailAddress" placeholder="Email Address" value="{{userEmail}}">
                                                </div>
                                                <div class="form-group">
                                                    <label for="userRole">User Role</label>
                                                    <select name="userRole" id="userrole-{{_id}}" class="form-control">
                                                        {{listString RoleList userRole}}
                                                    </select>
                                                </div>
                                                <hr >
                                                <div class="form-group">
                                                    <label for="password-{{_id}}">Type New Password</label>
                                                    <input type="password" class="form-control" id="password-{{_id}}" name="password" placeholder="Change Password" value="">
                                                </div>
                                                <button type="submit" class="btn btn-primary editForm" data-edit-form="{{_id}}">Save changes</button>
                                            </form>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default editClose" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    {{/each}}
                    </tbody>
                </table>
           </div>
        </div>
    </div>
</template>