<template name="home">
  <div class="template-home">
    <div class="page-header">
      <h1>LEADS</h1>
    </div>
        {{> controls}}
        {{> searchResult}}
  </div>
</template>

<template name="searchResult">
    <div id='search-result'>
        {{#if showingText}}
            <h4 class="text-left"> {{filterData}} | Showing : {{countRecords}} record(s)</h4>
        {{/if}}
        <div id="search-meta">
            {{#if isLoading}}
                <h4 class="text-center"><i class="fa fa-cog fa-spin"></i> Loading....</h4>
            {{/if}}
        </div>
        {{#if getPackages}}
            <ul class="pagination">
                {{#each numberOfPages}}
                    <li><a class="pager" data-skip="{{data}}" href="#">{{page}}</a></li>
                {{/each}}
            </ul>

        <div class="table-condensed">
            <table class="table table-striped table-bordered table-condensed leadsTable">
                <thead>
                <tr class="titleth">
                    <th>Status</th>
                    <th>Referral Type</th>
                    <th>Modified Date</th>
                    <th>Company Name</th>
                    <th>Contact Name</th>
                    <th>Phone</th>
                    <th>Email</th>
                    <th>Comments</th>
                    <th>&nbsp;</th>
                </tr>
                </thead>
                <tbody>
                {{#each getPackages}}
                    <tr>
                        <td>{{status}}</td>
                        <td>{{referaltype}}</td>
                        <td>{{formatDate lastactivatedate}}</td>
                        <td><a href="http://{{companywebsite}}" target="_blank">{{companyname}}</a></td>
                        <td>{{contactname}}</td>
                        <td><a class="linktocall" data-table-Id="{{_id}}" href="tel:+1{{tel contactphone}}">{{formatPhoneNumber contactphone}}</a></td>
                        <td><a href="mailto:{{companyemail}};">{{companyemail}}</a></td>
                        <td>{{comments}}</td>
                        <td>
                            {{>editForm}}
                        </td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
        </div>
            <ul class="pagination">
                {{#each numberOfPages}}
                    <li><a class="pager" data-skip="{{data}}" href="#">{{page}}</a></li>
                {{/each}}
            </ul>
        {{/if}}
    </div>
</template>