<template name="import">
  <div class="template-dashboard">

      <div class="page-header">
          <h1>CSV Importer</h1>
      </div>

      {{#if message}}
        <div class="alert alert-primary" role="alert">
            <p>{{message}}</p>
        </div>
      {{/if}}

      <button type="button" class="btn btn-default btn-file">
          Import CSV <input type="file" name="myFileInout" class="myFileInput">
      </button>&nbsp;

      <a class=" btn btn-primary" id="buttonDownload" href="#">Export Leads</a>&nbsp;
      <a class=" btn btn-success" href="csv/sample.csv">Download Sample CSV</a>&nbsp;
      <button type="button" class=" btn btn-warning" data-toggle="modal" data-target="#myModal">Delete All Data</button>
      <p>&nbsp;</p>

      <!--<p>Total Records : {{countRecords}}</p>-->

      <!-- Modal -->
      <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
              <div class="modal-content">
                  <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                      <h4 class="modal-title" id="myModalLabel">Confirmation Message</h4>
                  </div>
                  <div class="modal-body">
                      <p>Are you sure you want do delete all data? click delete to continue</p>
                      <button type="button" class="delete btn btn-primary">Delete</button>
                  </div>
                  <div class="modal-footer">
                      <button type="button" class="btn btn-default csvImportModalCloseBtn" data-dismiss="modal">Close</button>
                  </div>
              </div>
          </div>
      </div>
  </div>
</template>

