@components: '../components';
// Bootstrap
@import "./lib/bootstrap/bootstrap.import.less";

// Font Awesome
@import "./lib/font-awesome/font-awesome.import.less";

@import './mixins.import.less';
@import './variables.import.less';

// Misc Global Styles
@import './type.import.less';

// Components
@import '@{components}/loading.import.less';
@import '@{components}/buttons.import.less';

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('fonts/glyphicons-halflings-regular.eot');
  src: url('fonts/glyphicons-halflings-regular.eot?') format('embedded-opentype'),
  url('fonts/glyphicons-halflings-regular.woff2') format('woff2'),
  url('fonts/glyphicons-halflings-regular.woff') format('woff'),
  url('fonts/glyphicons-halflings-regular.ttf') format('truetype'),
  url('fonts/glyphicons-halflings-regular.svg') format('svg');
}
