::-moz-selection { background: @brand-primary; color: #fff; text-shadow: none; }
::selection { background: @brand-primary; color: #fff; text-shadow: none; }

body{
  font-size: 12px;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  text-transform: uppercase;
}

.logo {
  height:30px;
}

.dropdown-user {
  text-align: center;
}

.addUser {
  cursor: pointer;
}

#imaginary_container{
  margin-top:20%; /* Don't copy this */
}
.stylish-input-group .input-group-addon{
  background: white !important;
}
.stylish-input-group .form-control{
  border-right:0;
  box-shadow:0 0 0;
  border-color:#ccc;
}
.stylish-input-group button{
  border:0;
  background:transparent;
}

.modal.modal-wide .modal-dialog {
  width: 90%;
}
.modal-wide .modal-body {
  overflow-y: auto;
}

.pagination {
  display: inline-block;
  padding-left: 0;
  margin: 5px 0;
  border-radius: 4px;
}

.titleth th {
  background: #222222;
  color:#fff;
}

a:visited {
  color:blue;
}

.user-row {
  margin-bottom: 14px;
}

.user-row:last-child {
  margin-bottom: 0;
}

.dropdown-user {
  margin: 13px 0;
  padding: 5px;
  height: 100%;
}

.user-row {
  background: #984814;
  padding: 5px;
  border-radius: 2px;
  margin-top: 15px;
  color: #fff;
}

.user-row .text-muted {
  color: #fff;
}
.panel-primary {
  border-color: #0095dd;
}
.panel-primary > .panel-heading {
  color: #ffffff;
  background-color: #984814;
  border-color: #984814;
}

.dropdown-user:hover {
  cursor: pointer;
}

.table-user-information > tbody > tr {
  border-top: 1px solid rgb(221, 221, 221);
}

.table-user-information > tbody > tr:first-child {
  border-top: 0;
}

.table-user-information > tbody > tr > td {
  border-top: 0;
}
