<template name="controls">
        <div class="container-fluid">
            <div class="form-inline filters">
                <div class="form-group">
                    <label class="sr-only" for="status">Status</label>
                    <select class="form-control filter-data" name="status" id="status">
                        <option value="0" selected="selected">All Status</option>
                        {{render statusList status}}
                    </select>
                </div>
                <div class="form-group">
                    <label class="sr-only" for="timezone">Time Zone</label>
                    <select class="form-control filter-data" name="timezone">
                        <option value="0" selected="selected">All Time Zone</option>
                        {{render timeZoneList timezone}}
                    </select>
                </div>
                <div class="form-group">
                    <label class="sr-only"  for="referaltype">Referral Type</label>
                    <select class="form-control filter-data" name="referaltype">
                        <option value="0" selected="selected">All Referral Type </option>
                        {{render referralTypeList referaltype}}
                    </select>
                </div>
                <div class="form-group">
                    <label class="sr-only" for="companytype">Company Type</label>
                    <select class="form-control filter-data" name="companytype">
                        <option value="0" selected="selected">All Company Type</option>
                        {{render companyTypeList companytype}}
                    </select>
                </div>
                <div class="form-group">
                    <label class="sr-only" for="actiontype">Action Needed</label>
                    <select class="form-control filter-data" name="actiontype">
                        <option value="0">All Action</option>
                        {{render actionTypeList actiontype}}
                    </select>
                </div>
                <div class="form-group">
                    <label class="sr-only" for="companystate">State</label>
                    <select class="form-control filter-data" name="companystate">
                        <option value="0" selected="selected">All States</option>
                        {{render statesList companystate}}
                    </select>
                </div>
                <div class="form-group">
                    <label class="sr-only" for="referalType">Sales Agent</label>
                    <select class="form-control filter-data" name="referalType">
                        <option value="0" selected>All Sales Agent</option>
                        {{render salesAgentList referalType}}
                    </select>
                </div>
                <div>&nbsp;</div>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#LeadModalAdd"><i class="fa fa-cogs"></i> Add Record</button>
                <button type="button" class="btn btn-primary viewAllBtn"><i class="fa fa-cogs"></i> View All</button>
                <div class="input-group datetimepicker startDateContainer">
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    <input name="startDate" id="startDate" class="set-due-date form-control startDate" placeholder="Start Date" type="text"/>
                </div>
                <div class="input-group datetimepicker">
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    <input name="endDate" id="endDate" class="set-due-date form-control endDate" placeholder="End Date" type="text"/>
                </div>
                <button class="filterByDate btn btn-warning" ><i class="fa fa-filter"></i> Filter By Date</button>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="nextdate" class="nextDate"> Upcoming Date
                    </label>
                </div>
                <p>&nbsp;</p>
                <input type="text" id="search-box" placeholder="Custom Search" class="form-control" />
                <select class="form-control perPage" name="perPage" >
                    <option value="50">Items Per Page:</option>
                    {{render perPageList perPage}}
                </select>

            </div>
            {{>createlLeadForm}}
        </div>
        <p>&nbsp;</p>
</template>