<template name="createlLeadForm">
    <!-- Modal -->
    <div class="modal fade " id="LeadModalAdd" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Create Leads</h4>
                </div>
                <div class="modal-body">
                    <form class="form">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label  for="companyname">Company Name</label>
                                    <input type="text" name="companyname" class="form-control createFields ">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label  for="contactname">Contact Name</label>
                                    <input type="text" name="contactname" class="form-control createFields">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label  for="status">Contact Phone</label>
                                    <input type="text" name="contactphone" class="form-control createFields {{_id}}">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label  for="contactmobilephone">Mobile Phone</label>
                                    <input type="text" name="contactmobilephone" class="form-control createFields">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label  for="companyemail">Company Email</label>
                                    <input type="text" name="companyemail" class="form-control createFields">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label  for="companywebsite">Company Website</label>
                                    <input type="text" name="companywebsite" class="form-control createFields">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label  for="companyphone">Company Phone</label>
                                    <input type="text" name="companyphone" class="form-control createFields">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label  for="companyskype">Company Skype</label>
                                    <input type="text" name="companyskype" class="form-control createFields">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label  for="companyaddress">Company Address</label>
                                    <input type="text" name="companyaddress" class="form-control createFields">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label  for="companyaddress1">Company Address 2</label>
                                    <input type="text" name="companyaddress1" class="form-control createFields">
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label  for="companycity">Company City</label>
                                    <input type="text" name="companycity" class="form-control createFields ">
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label for="companystate">Company State</label>
                                    <select class="form-control createFields" data-id="AST" id="create-companystate" name="companystate">
                                            <option data-id="AST" value="N/A" selected="selected">All States</option>
                                            <option data-id="AST" value="WY">WYOMING</option>
                                            <option data-id="CST" value="WI">WISCONSIN</option>
                                            <option data-id="EST" value="WV">WEST VIRGINIA</option>
                                            <option data-id="PST" value="WA">WASHINGTON</option>
                                            <option data-id="EST" value="VA">VIRGINIA</option>
                                            <option data-id="EST" value="VT">VERMONT</option>
                                            <option data-id="AST" value="UT">UTAH</option>
                                            <option data-id="CST" value="TX">TEXAS</option>
                                            <option data-id="CST" value="TN">TENNESSE</option>
                                            <option data-id="CST" value="SD">SOUTH DAKOTA</option>
                                            <option data-id="EST" value="SC">SOUTH CAROLINA</option>
                                            <option data-id="EST" value="RI">RHODE ISLAND</option>
                                            <option data-id="EST" value="PA">PENNSYLVANIA</option>
                                            <option data-id="PST" value="OR">OREGON</option>
                                            <option data-id="CST" value="OK">OKLAHOMA</option>
                                            <option data-id="EST" value="OH">OHIO</option>
                                            <option data-id="CST" value="ND">NORTH DAKOTA</option>
                                            <option data-id="EST" value="NC">NORTH CAROLINA</option>
                                            <option data-id="EST" value="NY">NEW YORK</option>
                                            <option data-id="MT" value="NM">NEW MEXICO </option>
                                            <option data-id="EST" value="NJ">NEW JERSEY</option>
                                            <option data-id="EST" value="NH">NEW HAMPSHIRE</option>
                                            <option data-id="CST" value="NV">NV</option>
                                            <option data-id="CST" value="NE">NEBRASKA</option>
                                            <option data-id="MST" value="MT">MONTANA</option>
                                            <option data-id="EST" value="MI">MICHIGAN</option>
                                            <option data-id="CST" value="MS">MISSISSIPPI</option>
                                            <option data-id="CST" value="MN">MINNESOTA</option>
                                            <option data-id="CST" value="MO">MISSOURI</option>
                                            <option data-id="EST" value="MA">MASSACHUSETTS</option>
                                            <option data-id="EST" value="MD">MARYLAND</option>
                                            <option data-id="EST" value="ME">MAINE</option>
                                            <option data-id="CST" value="LA">LOUISIANA</option>
                                            <option data-id="EST" value="KY">KENTUCKY</option>
                                            <option data-id="CST" value="KS">KANSAS</option>
                                            <option data-id="CST" value="IA">IOWA</option>
                                            <option data-id="CST" value="IN">INDIANA</option>
                                            <option data-id="CST" value="IL">ILLINOI</option>
                                            <option data-id="PST" data-timeZone2="MT" value="ID">IDAHO</option>
                                            <option data-id="Hawaii" value="HI">HAWAII</option>
                                            <option data-id="EST" value="GA">GEORGIA</option>
                                            <option data-id="EST" value="FL">FLORIDA</option>
                                            <option data-id="EST" value="DC">DISTRICT OF COLUMBIA</option>
                                            <option data-id="EST" value="DE">DELAWARE</option>
                                            <option data-id="EST" value="CT">CONNECTICUT</option>
                                            <option data-id="AST" value="CO">COLORADA</option>
                                            <option data-id="PST" value="CA">CALIFORNIA</option>
                                            <option data-id="CST" value="AR">ARKANSAS</option>
                                            <option data-id="AST" value="AZ">ARIZONA</option>
                                            <option data-id="Alaska" value="AK">ALASKA</option>
                                            <option data-id="CST" value="AL">ALABAMA</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label  for="comapnyzip">Company Zip</label>
                                    <input type="text" name="comapnyzip" class="form-control createFields">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label  for="status">Status</label>
                                    <select class="form-control createFields" name="status" id="status">
                                        {{render statusList status}}
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label  for="actiontype">Action Needed</label>
                                    <select class="form-control createFields" name="actiontype">
                                        {{render actionTypeList actiontype}}
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label  for="priority">Priority</label>
                                    <select class="form-control createFields " name="priority">
                                        {{render prioritytList priority}}
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label  for="referaltype">Referral Type</label>
                                    <select class="form-control createFields " name="referaltype">
                                        {{render referralTypeList referaltype}}
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="salesagent">Sales Agent</label>
                                    <select class="form-control createFields" name="salesagent">
                                        {{render salesAgentList salesagent}}
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="nextdate">Upcoming Date</label>
                                    <div class="input-group datetimepicker">
                                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                        <input name="nextdate" id="nextdate" class="set-due-date form-control nextdate createFields" placeholder="Select a Date" type="text" value=""/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="companytype">Company Type</label>
                                    <select class="form-control createFields" name="companytype">
                                        {{render companyTypeList companytype}}
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label  for="timezone">Time Zone</label>
                                    <select class="form-control createFields createTimeZone" name="timezone">
                                            <option selected="{{selectDeliveryStatus 'PST'}}" value="PST">PST</option>
                                            <option selected="{{selectDeliveryStatus 'EST'}}" value="EST">EST</option>
                                            <option selected="{{selectDeliveryStatus 'AST'}}" value="AST">AST</option>
                                            <option selected="{{selectDeliveryStatus 'MST'}}" value="MST">MST</option>
                                            <option selected="{{selectDeliveryStatus 'CST'}}" value="CST">CST</option>
                                            <option selected="{{selectDeliveryStatus 'Australia'}}" value="Australia">Australia</option>
                                            <option selected="{{selectDeliveryStatus 'Hawaii'}}" value="Hawaii">Hawaii</option>
                                            <option selected="{{selectDeliveryStatus 'Alaska'}}" value="Alaska">Alaska</option>
                                        </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label  for="comments">Comments</label>
                                    <input type="text" name="comments" class="form-control createFields">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label  for="initialwriteup">Initial Writeup</label>
                                    <textarea name="initialwriteup" class="form-control createFields" cols="30" rows="10"></textarea>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default closeCreate" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary createLead">Create Lead</button>
                </div>
            </div>
        </div>
    </div>
</template>