<template name="demo">

    <input type="text" id="search-box" placeholder="search packages here" />

    <div id="search-meta">
        {{#if isLoading}}
            searching ...
        {{/if}}
    </div>

    <ul class="pager">
        <li class="previews pull-left"><a href="#"><i class="fa fa-chevron-circle-left"></i> Previews</a></li>
        <li  class="next"><a href="#">Next <i class="fa fa-chevron-circle-right"></i></a></li>
    </ul>

    <div class="table-condensed">
        <table class="table table-striped table-bordered table-condensed">
            <thead>
            <tr>
                <th>Company Name</th>
                <th>Company Email</th>
                <th>Company Phone</th>
                <th>Contact Phone</th>
                <th>Company Skype</th>
                <th>&nbsp;</th>
            </tr>
            </thead>
            <tbody>
            {{#each getPackages}}
                <tr>
                    <td><a href="http://{{companywebsite}}" target="_blank">{{companyname}}</a></td>
                    <td><a href="mailto:{{companyemail}};">{{companyemail}}</a></td>
                    <td><a class="linktocall" data-table-Id="{{_id}}" href="tel:{{tel companyphone}};">{{companyphone}}</a></td>
                    <td><a class="linktocall" data-table-Id="{{_id}}" href="tel:{{tel contactphone}};">{{contactphone}}</a></td>
                    <td><a class="linktocall" data-table-Id="{{_id}}" href="tel:{{companyskype}};">{{companyskype}}</a></td>
                    <td width="150">
                        {{>editForm}}
                    </td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
    <ul class="pager">
        <li class="previews pull-left"><a href="#"><i class="fa fa-chevron-circle-left"></i> Previews</a></li>
        <li class="next"><a href="#">Next <i class="fa fa-chevron-circle-right"></i></a></li>
    </ul>
</template>

