<template name="editForm">
    <div class="modal fade" id="LeadModal-{{_id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">{{companyname}}</h4>
                </div>
                <div class="modal-body">
                    <form class="form">
                        <input type="hidden" name="leadId" class="form-control editFields {{_id}}" value="{{_id}}">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label  for="companyname">Company Name</label>
                                    <input type="text" name="companyname" class="form-control editFields {{_id}}" value="{{companyname}}">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label  for="contactname">Contact Name</label>
                                    <input type="text" name="contactname" class="form-control editFields {{_id}}" value="{{contactname}}">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label  for="status">Contact Phone</label>
                                    <input type="text" name="contactphone" class="form-control editFields {{_id}}" value="{{contactphone}}">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label  for="contactmobilephone">Mobile Phone</label>
                                    <input type="text" name="contactmobilephone" class="form-control editFields {{_id}}" value="{{contactmobilephone}}">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label  for="companyemail">Company Email</label>
                                    <input type="text" name="companyemail" class="form-control editFields {{_id}}" value="{{companyemail}}">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label  for="companywebsite">Company Website</label>
                                    <input type="text" name="companywebsite" class="form-control editFields {{_id}}" value="{{companywebsite}}">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label  for="companyphone">Company Phone</label>
                                    <input type="text" name="companyphone" class="form-control editFields {{_id}}" value="{{companyphone}}">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label  for="companyskype">Company Skype</label>
                                    <input type="text" name="companyskype" class="form-control editFields {{_id}}" value="{{companyskype}}">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label  for="companyaddress">Company Address</label>
                                    <input type="text" name="companyaddress" class="form-control editFields {{_id}}" value="{{companyaddress}}">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label  for="companyaddress1">Company Address 2</label>
                                    <input type="text" name="companyaddress1" class="form-control editFields {{_id}}" value="{{companyaddress1}}">
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label  for="companycity">Company City</label>
                                    <input type="text" name="companycity" class="form-control editFields {{_id}}" value="{{companycity}}">
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label for="companystate">Company State</label>
                                    <select class="form-control editFields {{_id}}" data-State="{{companystate}}" name="companystate">
                                        {{render statesList companystate}}
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label  for="comapnyzip">Company Zip</label>
                                    <input type="text" name="comapnyzip" class="form-control editFields {{_id}}" value="{{comapnyzip}}">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label  for="status">Status</label>
                                    <select class="form-control editFields {{_id}}" name="status" id="status">
                                        {{render statusList status}}
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label  for="actiontype">Action Needed</label>
                                    <select class="form-control editFields {{_id}}" name="actiontype">
                                        {{render actionTypeList actiontype}}
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label  for="priority">Priority</label>
                                    <select class="form-control createFields " name="priority">
                                        {{render prioritytList priority}}
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label  for="referaltype">Referral Type</label>
                                    <select class="form-control editFields {{_id}}" name="referaltype" data="{{referaltype}}">
                                        {{render referralTypeList referaltype}}
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="salesagent">Sales Agent</label>
                                    <select class="form-control editFields {{_id}}" name="salesagent">
                                        {{render salesAgentList salesagent}}
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="nextdate">Upcoming Date</label>
                                    <div class="input-group datetimepicker">
                                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                        <input name="nextdate" id="nextdate" class="set-due-date form-control nextdate editFields {{_id}}" placeholder="Select a Date" type="text" value="{{formatDate nextdate}}"/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="companytype">Company Type</label>
                                    <select class="form-control editFields {{_id}}" name="companytype">
                                        {{render companyTypeList companytype}}
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label  for="timezone">Time Zone</label>
                                    <select class="form-control editFields {{_id}}" date-value="{{timezone}}" name="timezone">
                                        {{render timeZoneList timezone}}
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label  for="comments">Comments</label>
                                    <input type="text" name="comments" class="form-control editFields {{_id}}" value="{{comments}}">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label  for="initialwriteup">Initial Writeup</label>
                                    <textarea name="initialwriteup" class="form-control editFields {{_id}}" cols="30" rows="10">{{initialwriteup}}</textarea>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default closeEdit" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary updateLeadbtn" data-target-Id="{{_id}}">Save changes</button>
                </div>
            </div>
        </div>
    </div>
    <a href="#" data-lead-edit="{{_id}}" id="edit{{_id}}" class="leadEdit btn btn-warning btn-xs" data-toggle="modal" data-target="#LeadModal-{{_id}}"><i class="fa fa-pencil-square-o"></i></a>
    <a href="#" class="btn btn-warning btn-xs"><i class="leadDelete fa fa-times" data-lead-Delete="{{_id}}"></i></a>
</template>