<template name="createUserForm">
    <div class="modal fade" id="createUserModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Create User</h4>
                </div>
                <div class="modal-body">
                    <form class="createForm">
                        <div class="form-group">
                            <label for="firstName">Full Name</label>
                            <input type="text" class="form-control" id="fullname" name="fullname" placeholder="Full Name">
                        </div>
                        <div class="form-group">
                            <label for="emailAddress">Email Address</label>
                            <input type="text" class="form-control" id="emailAddress" name="emailAddress" placeholder="Email Address">
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                        </div>
                        <div class="form-group">
                            <label for="passwordVerify">Verify Password</label>
                            <input type="password" class="form-control" id="passwordVerify" name="passwordVerify" placeholder="Verify Password">
                        </div>
                        <div class="form-group">
                            <label for="userRole">User Role</label>
                            <select name="userRole" id="userRole" class="form-control">
                                <option value="agent">Agent</option>
                                <option value="administrator">Administrator</option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btnCloseUserCreate" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</template>