<template name="editModal">
    <!-- Modal Edit -->
    <div class="modal fade" id="modal-edit-profile-{{_id}}" tabindex="-1" role="dialog" aria-labelledby="editprofile">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                </div>
                <div class="modal-body">
                    <form class="createForm">
                        <div class="form-group">
                            <label for="firstName">First Name</label>
                            <input type="text" class="form-control" id="firstName" name="firstName" placeholder="First Name" value="{{firstname}}">
                        </div>
                        <div class="form-group">
                            <label for="lastName">Last Name</label>
                            <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Last Name" value="{{lastname}}">
                        </div>
                        <div class="form-group">
                            <label for="emailAddress">Email Address</label>
                            <input type="text" class="form-control" id="emailAddress" name="emailAddress" placeholder="Email Address" value="{{userEmail}}">
                        </div>
                        <div class="form-group">
                            <label for="userRole">User Role</label>
                            <select name="userRole" id="userRole" class="form-control">
                                <option value="0">--Select Role--</option>
                                <option value="administrator" {{checkrole userRole}}>Administrator</option>
                                <option value="agent" {{checkrole userRole}}>Agent</option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</template>
